 <style>
        body {
          background-color: lightblue;
        }
        h1 {
<<<<<<< HEAD
          color: green;
=======
          color: black;
>>>>>>> feature/product-cart
	  background-color: white;
          text-align: center;
        }
</style>
